<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingNameSearchSample"
>
</canano-main-display-heading>
<div class="sample-create-div">
    <table>
        <tr>
            <td>
                Sample Name<sup><b>*</b></sup>
            </td>
            <td>
                <input
                    [(ngModel)]="sampleName"
                    type="text"
                >
            </td>
        </tr>
        <tr>
            <td>
                Point of Contact<sup><b>*</b></sup>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button
                    class="btn btn-primary"
                    (click)="onAddPocClick()"
                >Add</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button
                    class="btn btn-danger"
                >
                    Reset
                </button>
                <button
                    class="btn btn-primary"
                    (click)="onSaveSample()"
                >
                    Save
                </button>
            </td>
        </tr>
    </table>
</div>

<canano-point-of-contact-create
    [poc]=pointOfContacts
    [sampleData]="organizationNames"
    [sampleName]="sampleName"
></canano-point-of-contact-create>
