<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingNameManage"
>
</canano-main-display-heading>

<div class="sample-edit-div" *ngIf="data">
    <div class="editSection" *ngFor="let publicationCategory of publicationData | keyvalue">
        <div class="header">
            {{publicationCategory.key}} <button (click)="addPublication(publicationCategory.key)" class="btn btn-primary btn-sm">Add</button>
        </div>
        <ng-container *ngFor="let publication of publicationData[publicationCategory.key]; let publicationIndex=index">
            <div class="publication">
                <table class="publication">
                    <tr>
                        <td colspan="2" class="edit">
                            <button (click)="editPublication(publicationCategory.key,publication.publicationId)" class="btn btn-primary btn-sm">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Bibliography Info
                        </td>
                        <td [innerHTML]="publication.displayName">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Description
                        </td>
                        <td>
                            {{publication.description}}
                        </td>
                    </tr>
                    <tr *ngIf="publication.keywordsStr!=''">
                        <td class="label">
                            Keywords
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let keyword of splitKeywords(publication.keywordsStr)">
                                    {{keyword}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            Publication Status
                        </td>
                        <td>
                            {{publication.status}}
                        </td>
                    </tr>
                </table>
            </div>

        </ng-container>
    </div>
</div>
