// -------------------------------------------------------------------------
// ---------------  "Related Links" mid left vertical menu  ----------------
// -------------------------------------------------------------------------

@import "../../app.component";
@import "../../btn-canano";
@import "../cananolab-client.component";

// Navigation Tree, Related Links and Status Display on left
// @TODO Used by left-navigation-menu also. move to a higher common scss

.left-menu-div{
    width: $leftMenuWidth;
    margin-right: $leftMenuMargin;
}



.left-menu-button{
    @extend .d-block;
    width: 100%;
    margin: 1px 0 0 0;
}

.left-menu-button-blue{
    @extend .left-menu-button;
    @extend .btn-canano-sm-blue;
}

.left-menu-button-green{
    @extend .left-menu-button;
    @extend .btn-canano-sm-green;
}

.left-menu-heading{
    background-color: $menuHeadingBackgroundColor;
    color: #fff;
    margin-top: 1px;
    cursor: default;
}

.left-menu-top-heading{
    @extend .left-menu-button;
    @extend .rounded-0;
    background-color: $canano-background-blue;
    color: #fff;
}

a{
    color: #fff;
    font-size: small;
    &:hover{
        color: #aeeee9;
        cursor: pointer;
    }
}

.left-nav {
    background-color:#02055A !important;
    width:100%;
    color:#fff;
    padding:8px;
    border: solid #81FFFE;
    border-width:.1em 0px 0px 0px !important;
    font-weight:bold;
    font-size:12px;
    margin:0px;
    text-align:left;

}

.left-nav:hover {
    background-color:#81FFFE !important;
    color:#02055A;
}
