<!----------------------------------------------------------------------------------------->
<!----------------------    The Search at top right (just stubs)   ------------------------>
<!----------------------------------------------------------------------------------------->

<span class="top-keyword-top-span">
    <input
        type="text"
        placeholder="Enter keyword"
        [(ngModel)]="topKeyWordSearchText"
    >
    <button
        class="btn-canano btn-canano-primary btn-canano-xs mr-1 topSearch"
        type="button"
        (click)="onTopKeyWordSearchClick()"
    >Search
    </button>
</span>
