<!-- This is the one, not ProtocolEditComponent  @TODO rename this-->

<div>
    <canano-main-display-heading
        [helpUrl]="helpUrl"
        [toolHeadingName]="toolHeadingNameSearchResults"
    >
    </canano-main-display-heading>
</div>
<div *ngIf="protocolData !== undefined" class="mainSection">
    <div class="mainBorder">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <table>

                <!-- Protocol Type -->
                <tr>
                    <td>
                        <label class=" mt-0"
                               for="protocolType"
                        >
                            Protocol Type<sup><b>*</b></sup>
                        </label>
                    </td>
                    <td colspan="2">
                        <select
                            id="protocolType"
                            class="form-control"
                            [(ngModel)]="protocolData['type']"
                            name="type"
                        >
                            <option *ngFor="let type of protocolTypes" value="{{type}}">{{type}}</option>
                        </select>
                    </td>
                </tr>
                <!-- -----  END Protocol Type  ----- -->


                <!-- -----  Protocol Name  ----- -->
                <tr>
                    <td>
                        <label class=" mt-0"
                               for="name"
                        >
                            Protocol Name<sup><b>*</b></sup>
                        </label>
                    </td>

                    <td>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            id="name"
                            [(ngModel)]="protocolData['name']"

                            required
                        >
                    </td>
                </tr>
                <!--  -----  END Protocol Name  ----- -->

                <!--  -----  Protocol Abbreviation  ----- -->
                <tr>
                    <td>
                        <label class=" mt-0"
                               for="abbreviation"
                        >
                            <div>Protocol</div>
                            <div>Abbreviation</div>
                        </label>
                    </td>

                    <td>
                        <input
                            class="form-control"
                            id="abbreviation"
                            name="abbreviation"
                            type="text"
                            [(ngModel)]="protocolData['abbreviation']"
                        >
                    </td>
                </tr>
                <!-- END Protocol Abbreviation -->

                <!-- Protocol Version-->
                <tr>
                    <td>
                        <label class=" mt-0"
                               for="protocolVersion"
                        >
                            Protocol Version
                        </label>
                    </td>

                    <td>
                        <input
                            class="form-control"
                            id="protocolVersion"
                            name="version"
                            type="text"
                            [(ngModel)]="protocolData['version']"
                        >
                    </td>
                </tr>
                <!-- END Protocol Version -->


                <!-- Protocol File -->
                <tr>
                    <td>
                        <label>
                            Protocol File
                        </label>
                    </td>


                    <!-- Radio buttons for "Upload"/"Enter File URL" -->
                    <td>
                        <!-- Radio button for Upload -->
                        <input
                            class="mr-1 custom-radio"
                            name="create_protocol_file_radio"
                            id="create_protocol_file_radio0"
                            type="radio"
                            [checked]="! uriExternal"
                            (click)="onUpload()"
                        >

                        <label
                            class="mr-3"
                            for="create_protocol_file_radio0"
                        >
                            Upload
                        </label>
                        <!-- END Radio button for Upload -->


                        <!-- Radio button for File URL -->
                        <input
                            class="mr-1 custom-radio"
                            name="create_protocol_file_radio"
                            id="create_protocol_file_radio1"
                            type="radio"
                            [checked]="uriExternal"
                            (click)="onEnterFileUrl()"
                        >
                        <label
                            for="create_protocol_file_radio1"
                            class="p-0 m-0"
                        >
                            Enter File URL
                        </label>
                        <!-- END Radio button for File URL -->

                        <!-- END Radio buttons for "Upload"/"Enter File URL" -->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <!-- File browser button -->
                        <input
                            [ngClass]="{
                                    'hide': protocolData['uriExternal']
                               }"
                            type="file"
                            (change)="getFiles($event)"
                        >
                        <!-- END File browser button -->


                        <!-- File URL text input -->
                        <span
                            [ngClass]="{
                                    'hide': ! protocolData['uriExternal']
                               }"
                            placeholder="File URL"
                        >
                            <input
                                class="form-control bg-danger"
                                type="text"
                                id="externalUrl"
                                name="externalUrl"
                                [(ngModel)]="protocolData['externalUrl']"
                            >
                            <!-- Disclaimer -->
                            <div
                            >
                                <small class="clicker bg-success"
                                    (click)="openWindow( properties.API_SERVER_URL + '/' + properties.DISCLAIMER_URL, '')"
                                >[Disclaimer]</small>
                            </div>
                            <!-- END Disclaimer -->

                            <!-- File URL text input -->
                        </span>
                    </td>
                </tr>

                <tr
                    [ngClass]="{
                        'hide': protocolData['uriExternal']
                    }"
                >
                    <td></td>
                    <td>
                    <a
                        href="{{properties.API_SERVER_URL}}/{{consts.QUERY_DOWNLOAD_FILE}}?fileId={{protocolData['fileId']}}"
                        target="_blank" style="color: #00f; background-color: #ffc107;">{{protocolData['uri']}}</a>
                    </td>
                </tr>

                <!-- Protocol File Title -->
                <tr>
                    <td>
                        <label class=" mt-0"
                               for="fileTitle"
                        >
                            File Title
                        </label>
                    </td>

                    <td>
                        <input
                            class="form-control"
                            name="fileTitle"
                            id="fileTitle"
                            type="text"
                            [(ngModel)]="protocolData['fileTitle']"
                        >
                    </td>
                </tr>
                <!-- END Protocol File Title -->


                <!--  Description  -->
                <tr>
                    <td class="proto-edit-table-text-td">
                        Description
                    </td>

                    <td class="protocol-edit-table-input-td">
                        <textarea
                            class="form-control"
                            name="fileDescription"
                            id=""
                            cols="30"
                            rows="3"
                            [(ngModel)]="protocolData['fileDescription']"
                        >

                        </textarea>
                    </td>
                </tr>
                <!--  END Description  -->


            </table>

            <div>
                <span>
                   <span  class=" float-right"  >

                        <input
                            type="reset"
                            value="Reset"
                            class="btn btn-danger m-1"
                            (click)="onReset()"
                        >

                        <input [disabled]="!f.valid"
                               type="submit"
                               value="Save"
                               class="btn-canano m-1"
                        >
                   </span>
                   <span><input
                       type="button"
                       value="Delete"
                       class="btn btn-danger m-1"
                   (click)="onDeleteClick()"
                   >
                    </span>
                 </span>
            </div>

        </form>


    </div>
</div>
