// -- This is the one, not ProtocolEditComponent

@import "../../../../btn-canano";
@import '../../main-display.component.scss';
$secondColumnWidth: 750px;


.protocol-edit-table{
    // width: 100%;
    margin-left: 4px;
}

.proto-edit-table-text-td{
    // border: solid #a90101 3px;
    margin-right: 10px;
    padding-right: 10px;
    float: top;
}

.protocol-edit-table-input-td{
    width: $secondColumnWidth;
    // border: solid #24ac00 3px; a
}

.protocol-edit-table-text-input{
    width: $secondColumnWidth;
}

.protocol-edit-group-name-td{
    border-top: solid #e6e9ec 1px;
    // border-top: solid #e6e9ec 1px;
    width: 50%;
}

.protocol-edit-group-name-tr{
    width: 100%;
    border: solid #007cc2 3px;
}

.protocol-edit-group-name-div{
    border: solid #ced4da 1px;
}

// @FIXME this is a dupe
.add-protocol-access-add-button{
    @extend .btn;
    outline: none;
    background-color: #0073b9;
    color: #fff;
    font-size: $keywordSearchFontSize;
    padding: 2px 4px 2px 4px;
}

