
<!-- -----  Search Results  ----- -->
<span *ngIf="protocolScreenToShow === protocolScreen.PROTOCOL_SEARCH_RESULTS_SCREEN">
    <div>
        <canano-main-display-heading
            [helpUrl]="helpUrlSearchResults"
            [toolHeadingName]="toolHeadingNameSearchResults"
    >
        </canano-main-display-heading>
    </div>

    <div class="sample-edit-div">
        <div class="mainSection">
            <canano-protocol-search-results [searchResults] = "searchResults">
            </canano-protocol-search-results>
        </div>
    </div>
</span>
<!-- -----  END Search Results  ----- -->


<!-- -----  Edit Protocol  ----- -->
<!-- @TODO Clean this up -->
<span *ngIf="protocolScreenToShow === protocolScreen.PROTOCOL_EDIT_SCREEN">
    <canano-protocol-edit-bravo
    ></canano-protocol-edit-bravo>
</span>
<!-- -----  END Edit Protocol  ----- -->


<!-- -----  View Protocol  ----- -->
<!-- I thought there was a view option if not logged in -->
<span *ngIf="protocolScreenToShow === protocolScreen.PROTOCOL_VIEW_SCREEN">
    <canano-protocol-view
    ></canano-protocol-view>
</span>
<!-- -----  END View Protocol  ----- -->


<!-- -----  Enter search criteria  ----- -->
<span *ngIf="protocolScreenToShow === protocolScreen.PROTOCOL_SEARCH_INPUT_SCREEN">
<div>
    <canano-main-display-heading
        [helpUrl]="helpUrl"
        [toolHeadingName]="toolHeadingName"
    >
    </canano-main-display-heading>
</div>

<div class="sample-edit-div" *ngIf="protocolSearchForm">
    <form name="protocolSearchForm">
    <div class="mainSection">
        <div class="mainBorder">
            <table>
                <tr>
                    <td class="label">
                        <label for="protocolType">
                            Protocol Type
                        </label>
                    </td>
                    <td>
                        <select  name="protocolType" id="protocolType" [(ngModel)]="protocolSearchForm.protocolType">
                            <option [selected]="protocolSearchForm.protocolType==''" [ngValue]="''">--Select--</option>
                            <option *ngFor=" let option of protocolTypes" value={{option}}>
                                {{option}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="protocolName">
                            Protocol Name
                        </label>
                    </td>
                    <td>
                        <label for="nameOperand">
                            <select [(ngModel)]="protocolSearchForm.nameOperand" name="nameOperand" id="nameOperand">
                                <option  value="contains">contains</option>
                                <option value="equals">equals</option>
                            </select>
                        </label>
                        <input type="text" [(ngModel)]="protocolSearchForm.protocolName" name="protocolName" id="protocolName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="protocolAbbreviation">
                            Protocol Abbreviation
                        </label>
                    </td>
                    <td>
                        <label for="abbreviationOperand">
                            <select [(ngModel)]="protocolSearchForm.abbreviationOperand" name="abbreviationOperand" id="abbreviationOperand">
                                <option value="contains">contains</option>
                                <option value="equals">equals</option>
                            </select>
                        </label>
                        <input id="protocolAbbreviation" name="protocolAbbreviation" type="text" [(ngModel)]="protocolSearchForm.protocolAbbreviation">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="fileTitle">
                            Protcol File Title
                        </label>
                    </td>
                    <td>
                        <label for="titleOperand">
                            <select [(ngModel)]="protocolSearchForm.titleOperand" name="titleOperand" id="titleOperand">
                                <option value="contains">contains</option>
                                <option value="equals">equals</option>
                            </select>
                        </label>
                        <input name="fileTitle" id="fileTitle" type="text" [(ngModel)]="protocolSearchForm.fileTitle">
                    </td>
                </tr>
            </table>

        </div>
        <div class="buttons">
            <div>
                Searching without any parameters returns all protocols.
            </div>
            <button (click)="onResetClick()" class="btn-canano btn-canano-danger btn-canano-lg mr-1">Reset</button>
            <button (click)="onSubmit()" class="btn-canano btn-canano-primary btn-canano-lg mr-1">Search</button>

        </div>
    </div>
    </form>
</div>
<!-- -----  END Enter search criteria  ----- -->


