<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingNameSearchSample"
>
</canano-main-display-heading>
<canano-sample-availability-display></canano-sample-availability-display>

<div class="mainSection">
    <div class="mainBorder">

    <table class="sample-edit-table">
        <tr>
            <td colspan="3">
                Sample Name<sup><b>*</b></sup>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text"
                       [(ngModel)]="sampleData['sampleName']"
                >
            </td>
        </tr>

        <tr>
            <td>
                Point of Contact<sup><b>*</b></sup>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button
                    class="btn btn-primary"
                    (click)="onAddPocClick()"
                >Add
                </button>
            </td>
        </tr>
        <tr>
            <td
                class="p-3"
            >
                <canano-point-of-contact
                    [poc]=pointOfContacts
                    [sampleData]="sampleData"
                ></canano-point-of-contact>
            </td>
        </tr>
        <tr>
            <td>
                Keywords:
                <div class="keywords-container">
                      <span class="keywords" *ngFor="let kWord of sampleData['keywords'] "> {{kWord}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text"
                [(ngModel)]="newKeyword">
                <button class="btn btn-primary"
                    (click)="onAddKeyword(newKeyword)"
                >Add</button>
            </td>
        </tr>

        <tr>
            <td>
                Data Availability <br>
                Metrics
                <button
                    class="btn btn-primary"
                    (click)="onAvailabilityClick(sampleId)"
                >
                    Generate
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button
                    class="btn btn-danger m-1"
                    (click)="onSampleDeleteClick()"
                >Delete</button>
                <button
                    class="btn btn-primary m-1"
                    (click)="onSampleCopyClick()"
                >Copy</button>
            </td>
            <td>
                <button
                    class="btn btn-danger m-1"
                    (click)="onSampleResetClick()"
                >Reset</button>
                <button
                    class="btn btn-primary m-1"
                    (click)="onSampleUpdateClick()"
                >Update</button>
            </td>
        </tr>
    </table>
</div>
</div>

<canano-point-of-contact-create
    [sampleData]="sampleData"
></canano-point-of-contact-create>
