// -----------------------------------------------------------------------------------------
// ----------------------            "Main Display Heading"         ------------------------
// -----------   The blueish bar across the top of the Main Display ------------------------
// -----------   Contains topic name, context sensitive Help link, and Glossary link  ------
// -----------------------------------------------------------------------------------------

@import "../../../app.component";
@import "../../../btn-canano";
@import "../../cananolab-client.component";

$mainDisplayHeadingHeight: 28px;
$mainDisplayHeadingMargin: 8px;

.main-display-heading{
    text-transform: capitalize;
    font-weight:bold;
    font-size:$mainFontSize;
    padding: $mainDisplayHeadingMargin;
    margin: $mainDisplayHeadingMargin;
    // height: $mainDisplayHeadingHeight;
    background-color: $menuHeadingBackgroundColor;
    color: #fff;
    width: calc(100% - #{$mainDisplayHeadingMargin * 2});
}

.display-heading-button{
    outline: none;
}
