@import "../../../../main-display/main-display.component.scss";

.dataMain td{
    vertical-align:top;
    padding:10px;
    width:150px;
}

.authors {
    width:600px;
}
.authors th{
    vertical-align:top;
    padding:10px;
    width:150px !important;
    background-color:#0073b9;
    color:#fff;
    border:1px solid #ccc;
}

.authors td{
    vertical-align:top;
    padding:10px;
    width:150px !important;
    border:1px solid #ccc;
}

.authorForm {
    border:1px solid #ccc;
    width:600px;
}
.authorForm td.label{
    width:150px !important;
}

.authorForm td.field{
    width:450px;
}

.dataMain td.label{
    font-weight:bold;
    width:150px !important;
    vertical-align:top;
}

.dataMain td.files{
    vertical-align:top;
    padding:10px;
    width:550px;
}

.otherSampleNames {
    margin:5px;
}

label {
    font-weight:bold;
    padding-left:2px;
    padding-right:2px;
}
.dataMain.submit {
    width:100%;
}
.dataMain.submit td {
    text-align:right;
}

.error {
    color:red;
    margin:5px;
}
