<canano-main-display-heading [helpUrl]="helpUrl" [toolHeadingName]="toolHeadingNameManage">

</canano-main-display-heading>
<div class="sample-edit-div">
    <!-- <button (click)="showData()">Show data</button> -->
    <!-- <div (ngIf)="show"> -->
        {{chemicalAssociationData | json}}<br /><br />
        {{setupData | json}}
    <!-- </div> -->
    <div class="compositionSection">
        <form action="" method="get">            
        <div class="compositionBorder">
            <table class="dataMain">
                <tr>
                    <td class="label">
                        <label for="bondType">Bond Type*</label>
                    </td>
                    <td>
                        <select id="bondType">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor="let bondType of setupData['bondTypes']" [ngValue]="bondType">{{bondType}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="description">Description</label>
                    </td>
                    <td>
                        <textarea id="description" name="" rows="3" cols="65">

                        </textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="compositionBorder">
            <table class="dataMain">
                <tr>
                    <td class="label">
                        <label for="compositionTypeA">Element*</label>
                    </td>
                    <td>
                        <img src="assets/images//arrow_left_right_gray.gif">
                    </td>
                    <td class="label">
                        <label for="compositionTypeB">Element*</label>
                    </td>
                </tr>     
                <tr>
                    <td>                    
                        <select id="compositionTypeA">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor="let compositionTypeA of setupData['associationCompositionTypes']" [ngValue]="compositionTypeA">{{compositionTypeA}}</option>
                        </select>
                    </td>
                    <td>associated with</td>
                    <td>
                        <select id="compositionTypeB">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor="let compositionTypeB of setupData['associationCompositionTypes']" [ngValue]="compositionTypeB">{{compositionTypeB}}</option>
                        </select>             
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="entityIdA">&nbsp;</label>
                        <select id="entityIdA">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor="let entityIdA of setupData['associationCompositionTypes']" [ngValue]="entityIdA">{{entityIdA}}</option>
                        </select>                 
                    </td>
                    <td>

                    </td>
                    <td>
                        <label for="entityIdB">&nbsp;</label>
                        <select id="entityIdB">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor="let entityIdB of setupData['associationCompositionTypes']" [ngValue]="entityIdB">{{entityIdB}}</option>
                        </select>                  
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="composingElementIdA">&nbsp;</label>
                        <select id="composingElementIdA">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor="let composingElementIdA of setupData['associationCompositionTypes']" [ngValue]="composingElementIdA">{{composingElementIdA}}</option>
                        </select>   
                    </td>
                    <td>

                    </td>
                    <td>
                        <label for="composingElementIdB">&nbsp;</label>
                        <select id="composingElementIdB">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor="let composingElementIdB of setupData['associationCompositionTypes']" [ngValue]="composingElementIdB">{{composingElementIdB}}</option>
                        </select>                          
                    </td>
                </tr>
            </table>
        </div>
        <div class="compositionBorder">
            <table class="files">
                <tr>
                    <td class="label">
                        File
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm">Add</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                       <table>
                           <tr>
                                <th>File Type</th>
                                <th>Title and Download Link</th>
                                <th>Keywords</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                       </table> 
                    </td>
                </tr>
            </table>
        </div>
        </form>
    </div>    
</div>