<canano-main-display-heading [helpUrl]="helpUrl" [toolHeadingName]="toolHeadingNameManage">

</canano-main-display-heading>

<div class="sample-edit-div">
    <div class="editSection" *ngIf="setupData">
        <form action="" method="get">
        <div class="editBorder">
            <table class="dataMain">
                <tr *ngIf="!dataId">
                    <td class="label">
                        <label for="associationType">Association Type</label>
                    </td>
                    <td>
                        <select id="associationType" [(ngModel)]="chemicalAssociationData.type" name="associationType">
                            <option value="" [selected]="chemicalAssociationData.type===''">--Select--</option>
                            <option *ngFor="let type of setupData['chemicalAssociationTypes']" [selected]="chemicalAssociationData.type===type" value="{{type}}">
                                {{type}}
                            </option>
                            <option value="[other]">[other]</option>

                        </select>
                        <div *ngIf="chemicalAssociationData.type ==='[other]'">
                            <canano-other-dropdown (saveOther)="saveOther($event)" [label]="'Association Type'" [value]="currentDropdownValues['type']" [field]="'type'" [array]="'chemicalAssociationTypes'">

                            </canano-other-dropdown>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="chemicalAssociationData.type==='attachment'">
                    <td class="label">
                        <label for="bondType">Bond Type*</label>
                    </td>
                    <td>
                        <select id="associationType" [(ngModel)]="chemicalAssociationData.bondType" name="bondType">
                            <option value="" [selected]="chemicalAssociationData.bondType===''">--Select--</option>
                            <option *ngFor="let type of setupData['bondTypes']" [selected]="chemicalAssociationData.bondType===type" value="{{type}}">
                                {{type}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="description">Description</label>
                    </td>
                    <td>
                        <textarea id="description" name="description" [(ngModel)]="chemicalAssociationData.description" rows="3" cols="65">
                            {{chemicalAssociationData.description}}
                        </textarea>
                    </td>
                </tr>
            </table>
        </div><br />
        <div class="editBorder">
            <table class="dataMain">
                <tr>
                    <td class="label">
                        <label for="compositionTypeA">Element*</label>
                    </td>
                    <td>
                        <img src="assets/images//arrow_left_right_gray.gif">
                    </td>
                    <td class="label">
                        <label for="compositionTypeB">Element*</label>
                    </td>
                </tr>
                <tr *ngIf="nanomaterialEntityOptions.length && functionalizingEntityOptions.length">
                    <td>
                        <ng-container *ngIf="chemicalAssociationData['associatedElementA']">
                        <div>
                            <select (ngModelChange)="changeCompositionType('compositionTypeA',$event)" id="compositionTypeA" [(ngModel)]="chemicalAssociationData.associatedElementA.compositionType" name="compositionTypeA">
                                <option value="" [selected]="chemicalAssociationData.associatedElementA.compositionType===''">--Select--</option>
                                <option *ngFor="let type of setupData['associationCompositionTypes']" [selected]="chemicalAssociationData.associatedElementA.compositionType===type" value="{{type}}">
                                    {{type}}
                                </option>
                            </select>
                        </div>
                        <div class="element" *ngIf="entityOptionsA.length && chemicalAssociationData.associatedElementA.compositionType">
                            <select (ngModelChange)="changeEntityId('compositionTypeA',chemicalAssociationData.associatedElementA.compositionType,$event)" id="entityIdA" name="entityIdA" [(ngModel)]="chemicalAssociationData.associatedElementA.entityId">
                                <option value="" [selected]="chemicalAssociationData.associatedElementA.entityId===''">--Select--</option>
                                <option *ngFor="let type of entityOptionsA" [ngValue]="type.domainId" [selected]="type.domainId==chemicalAssociationData.associatedElementA.entityId">
                                        {{type.type}}
                                        <ng-container *ngIf="chemicalAssociationData.associatedElementA.compositionType=='functionalizing entity'">
                                            {{type.displayName}}
                                        </ng-container>
                                </option>
                            </select>
                        </div>
                        <div class="element" *ngIf="chemicalAssociationData.associatedElementA.compositionType && chemicalAssociationData.associatedElementA.compositionType=='nanomaterial entity' && chemicalAssociationData.associatedElementA.entityId">

                            <select id="composingElementIdA" name="composingElementIdA" [(ngModel)]="chemicalAssociationData.associatedElementA.composingElement.id">
                                <option value="" [selected]="chemicalAssociationData.associatedElementA.composingElement.id===''">--Select--</option>
                                <option *ngFor="let type of composingElementOptionsA" [ngValue]="type.id">
                                    {{type.type}} (name:{{type.name}})
                                </option>
                            </select>
                        </div>
                        </ng-container>
                    </td>
                    <td>associated with</td>
                    <td>
                        <ng-container *ngIf="chemicalAssociationData['associatedElementB']">
                            <div>
                                <select (ngModelChange)="changeCompositionType('compositionTypeB',$event)" id="compositionTypeB" [(ngModel)]="chemicalAssociationData.associatedElementB.compositionType" name="compositionTypeB">
                                    <option value="" [selected]="chemicalAssociationData.associatedElementB.compositionType===''">--Select--</option>
                                    <option *ngFor="let type of setupData['associationCompositionTypes']" [selected]="chemicalAssociationData.associatedElementB.compositionType===type" value="{{type}}">
                                        {{type}}
                                    </option>
                                </select>
                            </div>
                            <div class="element" *ngIf="entityOptionsB.length && chemicalAssociationData.associatedElementB.compositionType">
                                <select (ngModelChange)="changeEntityId('compositionTypeB',chemicalAssociationData.associatedElementB.compositionType,$event)" id="entityIdB" name="entityIdB" [(ngModel)]="chemicalAssociationData.associatedElementB.entityId">
                                    <option value="" [selected]="chemicalAssociationData.associatedElementB.entityId===''">--Select--</option>
                                    <option *ngFor="let type of entityOptionsB" [ngValue]="type.domainId" [selected]="type.domainId==chemicalAssociationData.associatedElementB.entityId">
                                            {{type.type}}
                                            <ng-container *ngIf="chemicalAssociationData.associatedElementB.compositionType=='functionalizing entity'">
                                                {{type.displayName}}
                                            </ng-container>
                                    </option>
                                </select>
                            </div>
                            <div class="element" *ngIf="chemicalAssociationData.associatedElementB.compositionType && chemicalAssociationData.associatedElementB.compositionType=='nanomaterial entity' && chemicalAssociationData.associatedElementB.entityId">

                                <select id="composingElementIdB" name="composingElementIdB" [(ngModel)]="chemicalAssociationData.associatedElementB.composingElement.id">
                                    <option value="" [selected]="chemicalAssociationData.associatedElementB.composingElement.id===''">--Select--</option>
                                    <option *ngFor="let type of composingElementOptionsB" [ngValue]="type.id">
                                        {{type.type}} (name:{{type.name}})
                                    </option>
                                </select>
                            </div>
                            </ng-container>

                    </td>
                </tr>
            </table>
        </div><br />
        <div class="editBorder">
            <table class="files">
                <tr>
                    <td class="label">
                        File
                    </td>
                    <td>
                        <button class="btn-canano btn-canano-primary btn-canano-xs mr-1">Add</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                       <table>
                           <tr>
                                <th>File Type</th>
                                <th>Title and Download Link</th>
                                <th>Keywords</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                       </table>
                    </td>
                </tr>
            </table>
        </div><br />
        <div>
            <table class="dataMain submit">
                <tr>
                    <td *ngIf="dataId" style="text-align:left;">
                        <button (click)="deleteChemicalAssociation()" class="btn-canano btn-canano-danger btn-canano-lg mr-1">Delete</button>
                    </td>
                    <td>
                        <button (click)="resetChemicalAssociation()" class="btn-canano btn-canano-danger btn-canano-lg mr-1">Reset</button>
                        <button (click)="submitChemicalAssociation()" class="btn-canano btn-canano-primary btn-canano-lg mr-1">Submit</button>
                    </td>
                </tr>
            </table>
        </div>
        </form>
    </div>
</div>
