td{
    vertical-align: top;
    padding-right: 12px;
    padding-left: 12px;
}

.sample-view-main-div{
    background-color: #f5f5f5;
    color: #5d5d5d;
}

.sample-view-heading{
    background-color: #ccc;
    border: solid #e5e5e5 1px;
    color: #000;
}

.clicker-view{
    cursor: pointer;
}
.clicker-view:hover{
    background-color: #fff;
}
