<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingNameViewSample"
>
</canano-main-display-heading>

<div class="sample-view-heading p-2 m-2">
    <span class="clicker-view p-3"
        (click)="topButtonGeneralInfo()"
    >
       <b>General Info</b>
    </span>

    <span class="clicker-view  p-3"
        (click)="topButtonComposition()"
    >
        <b>Composition</b>
    </span>

    <span class="clicker-view  p-3"
        (click)="topButtonCharacterization()"
    >
        <b>Characterization</b>
    </span>

    <span class="clicker-view  p-3"
        (click)="topButtonPublication()"
    >
        <b>Publication</b>
    </span>
</div>

<div class="sample-view-main-div m-2">
    <table>
        <tr>
            <td>
                <b>Sample Name</b>
            </td>
            <td>
                {{sampleData['sampleName']}}
            </td>
        </tr>
        <tr>
            <td>
                <b>Created Date</b>
            </td>
            <td>
                  {{sampleData['createdDate']}}
            </td>
        </tr>
        <tr>
            <td>
                <b>Keywords</b>
            </td>
            <td>
                <div *ngFor="let keyword of keyWords">
                    {{keyword}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>Point of Contact</b>
            </td>
            <td>
                <b>Primary Contact</b>
            </td>
            <td>
                <b>Organization</b>
            </td>
            <td>
                <b>Role</b>
            </td>
        </tr>
        <tr *ngIf="pointOfContacts['primaryContact'] != undefined">
            <td></td>
            <td>
                {{pointOfContacts['primaryContact'][0]?'Yes':'No' }}
            </td>
            <td>
                {{pointOfContacts['contactPerson'][0]}}
            </td>
            <td>
                {{pointOfContacts['organizationDisplayName'][0]}}
            </td>
            <td>
                {{pointOfContacts['role'][0]}}
            </td>
        </tr>
    </table>
</div>
