<canano-main-display-heading [helpUrl]="helpUrl"
[toolHeadingName]="toolHeadingNameManage">

</canano-main-display-heading>
<div class="error" *ngIf="errors['error']">
    {{errors['error']}}
</div>
<div class="mainSection">
    <div class="mainBorder" *ngIf="data">
        <h4>Data Pending Review</h4>
        <div *ngIf="!data.length">
            There is no data pending review.
        </div>
        <table class="dataTable" *ngIf="data.length">
            <tr>
                <th>Data Type</th>
                <th>Data Name</th>
                <th></th>
            </tr>
            <tr *ngFor="let record of data;let odd=odd" [ngClass]="{'rowOdd':odd}">
                <td class="actions">
                    {{record.dataType}}
                </td>
                <td>
                    {{record.dataName}}
                </td>
                <td>
                    <a (click)="editPublication(record)">
                        Edit
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

