$canano-green: #005518;
$canano-blue: #0073b9;
$canano-background-blue: #02055a;
$menuHeadingBackgroundColor: #005d7e;
$leftMenuBorderBackgroundColor:#81FFFE;
$leftMenuWidth: 160px;
$leftMenuMargin: 0px;

$borderColor: #3cddf0;

$keywordSearchFontSize: 12px;
.header {
	margin:0px;
	padding:0px;
}
.home {
}

td.leftMenu {
    @extend .home;
    background-color:$canano-background-blue;
    width:$leftMenuWidth;
	margin:0px;
	padding:0px;
	vertical-align:top;
}

td.mainContent {
    @extend .home;
    vertical-align:top;
    padding:0px;
    margin:0px;
}

.footer {
    @extend .home;
    background-color:$canano-background-blue;
    border:solid $leftMenuBorderBackgroundColor;
    border-width:1px 1px 1px 0px;
}

.parent-div{
    /* keep the Query section and the Display section side by side.  */
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
}

// @FIXME - These colors need variables
.link-clicker{
    cursor: pointer;
    text-decoration: underline;
    color: #333;

    &:hover{
        color: #a90101;
        cursor: pointer;
    }
}

/* unvisited link */
a:link{
    cursor: pointer;
    text-decoration: underline;
    color: #333;
}

/* visited link */
a:visited{
    cursor: pointer;
    text-decoration: underline;
    color: #333;
}

/* mouse over link */
a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #a90101;
}

/* selected link */
a:active{
    cursor: pointer;
    text-decoration: underline;
    color: #333;
}

.hide{
    display: none;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clicker{
    cursor: pointer;
}


.search-results-table{
    font-size: 12px;
    width: 100%;
    border: solid #ccc 1px;
}

.search-results-tr{
    background-color: #fff;
    border: solid #ccc 1px;
}

.search-results-th{
    padding: 6px;
    //  border: solid #dfdfdf 2px;
    border: solid #ccc 1px;
    background-color: $canano-blue;
    color: #fff;
}

.search-results-td{
    padding: 6px;
    // border: solid #dfdfdf 2px;
    border-left: solid #ccc 1px;
    border-right: solid #ccc 1px;
}

.search-results-tr-even{
    background-color: #f3f3f3;
}

.search-results--tr-odd{
    background-color: #fff;
}

img {
	border-width:0px;
	margin:0px;
	padding:0px;

}

