<!----------------------------------------------------------------------------------------->
<!----------------------            "cananolab-client"             ------------------------>
<!-----------           The top level UI component                                   ------>
<!-----------           Contains these UI component:                                 ------>
<!-----------               Header                                                   ------>
<!-----------               Main Top Menu                                            ------>
<!-----------               Navigation Menu                                          ------>
<!-----------               Static Left side Menu                                    ------>
<!----------------------------------------------------------------------------------------->
<div  [ngStyle]="{ width: properties.MAX_WIDTH }" >
<!-- -----  The top header with the "Keyword Search" box on the right ----- -->

<!-- Shows a "Testing" banner if we are in TEST_MODE -->
<div *ngIf="properties.TEST_MODE">
    <div class="alert alert-danger p-1 m-0">TEST MODE</div>
</div>
<!-- -----  The Top Main Menu  ----- -->


    <!-- -----  The left side Navigation menu & left static menu  ----- -->
<div>
    <table class="home">
        <tr>
            <td colspan="2" class="header">
                <canano-header></canano-header>

                <canano-top-main-menu></canano-top-main-menu>
            </td>
        </tr>

        <tr>
            <td class="leftMenu">
                <div>
                    <canano-left-navigation-menu *ngIf="properties.SAMPLE_TOOLS">
                    </canano-left-navigation-menu>

                    <canano-left-static-menu>
                    </canano-left-static-menu>

                    <canano-status-display></canano-status-display>
                </div>
            </td>
            <td class="mainContent">
                    <router-outlet></router-outlet>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="footer">
                &nbsp;
            </td>
        </tr>
    </table>

</div>
</div>
