<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingNameSearchSample"
>
</canano-main-display-heading>

<div class="mainSection">
    <div class="mainBorder">
    <!-- ----  Checkboxes to show and/or hide Samples, Protocols, or Publications ----- -->
        <input id="showSampleFavsCheckbox" type="checkbox" [(ngModel)]="showSampleFavs">
        <label for="showSampleFavsCheckbox">
            Samples
        </label>
        <input id="showProtocolsFavsCheckbox" type="checkbox" [(ngModel)]="showProtocolsFavs">
        <label for="showProtocolsFavsCheckbox">
            Protocols
        </label>
        <input id="showPublicationsFavsCheckbox" type="checkbox" [(ngModel)]="showPublicationsFavs">
        <label for="showPublicationsFavsCheckbox">
            Publications
        </label>
    <!-- ----  END Checkboxes to show and/or hide Samples, Protocols, or Publications ----- -->


<hr>
<!-- Samples -->
<div
    *ngIf="showSampleFavs"
>
    <h5
        class="mt-1"
    >My Samples</h5>
    <table>
        <tr>
            <th>
                Action
            </th>
            <th>
                Sample Name
            </th>
            <th>
                Nanomaterial Entity Description
            </th>
        </tr>

        <tr *ngFor="let fav of favSamples">
            <td>

                <a
                    (click)="navigateToSampleView(fav['dataId'])"
                >
                View</a>
                <br />
                <a

                    (click)="navigateToSampleEdit(fav['dataId'])"
                >
                Edit</a>
                <br>

                <a

                    (click)="deleteSampleFromFavorites(fav)"
                >
                    <img style="width: 10px;" src="assets/images/trash_caNanoLab.png" alt="trash_icon">
                    Delete from Favorites
            </a>

            </td>
            <td>
                {{fav['dataName']}}
            </td>
            <td>
                {{fav['description']}}
            </td>
        </tr>
    </table>
</div>
<!-- END Samples -->


<!-- Protocols -->
<div *ngIf="showProtocolsFavs">
    <br />
    <h5>My Protocols</h5>

    <table>
        <tr>
            <th>
                Action
            </th>
            <th>
                Protocol Name
            </th>
            <th>
                Protocol File Title
            </th>
        </tr>
        <tr *ngFor="let fav of favProtocols">
            <td>
                <a

                    (click)="navigateToProtocolEdit(fav['dataId'])"
                >Edit</a>
                <br>

                <a

                    (click)="deleteProtocolFromFavorites(fav)"
                >
                    <img style="width: 10px;" src="assets/images/trash_caNanoLab.png" alt="trash_icon">
                    Delete from Favorites
                </a>

            </td>
            <td>
                {{fav['dataName']}}
            </td>
            <td>
                {{fav['protocolFileTitle']}}
            </td>
        </tr>
    </table>

</div>
<!-- END Protocols -->

<div *ngIf="showPublicationsFavs">
    <br />
    <h5>My Publications</h5>
    <table>
        <tr>
            <th>
                Action
            </th>
            <th>
                Publication Title
            </th>
        </tr>
        <tr *ngFor="let fav of favPublications">
            <td>
                <a

                    (click)="navigateToPublicationEdit(fav['dataId'])"
                >Edit</a>
                <br>

                <a

                    (click)="deletePublicationFromFavorites(fav)"
                >
                    <img style="width: 10px;" src="assets/images/trash_caNanoLab.png" alt="trash_icon">
                    Delete from Favorites
                </a>

            </td>
            <td>
                {{fav['dataName']}}
            </td>
        </tr>
    </table>
</div>
<!-- -----  Edit Protocol  ----- -->

<!-- @TODO Clean this up -->
<span *ngIf="protocolScreenToShow === protocolScreen.PROTOCOL_EDIT_SCREEN">
    <canano-protocol-edit-bravo
    ></canano-protocol-edit-bravo>
</span>
<!-- -----  END Edit Protocol  ----- -->

    </div>
</div>
