@import "../../../main-display/main-display.component.scss";
@import "../../../../app.component";
@import "../../../../btn-canano";
@import "../../../cananolab-client.component";
@import "../../protocols/protocols.component";

/*
td{
    background-color: #7abaff;
    border: solid #a90101 3px;
}
*/


input.ng-invalid.ng-touched{
    border: solid #a90101 3px;
}
