<div class="outer-input-frame protocols-links-panel m-2">
    <form (ngSubmit)="onSubmit()" #f="ngForm">

        <table>

            <!-- Protocol Type -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="protocolType"
                    >
                        ProtocolType<sup><b>*</b></sup>
                    </label>
                </td>
                <td colspan="2">
                    <select
                        id="protocolType"
                        class="form-control"
                        [(ngModel)]="type"
                        name="type"
                    >
                        <option *ngFor="let type of protocolTypes" value="{{type}}">{{type}}</option>
                    </select>
                </td>
            </tr>
            <!-- -----  END Protocol Type  ----- -->


            <!-- -----  Protocol Name  ----- -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="protocolName"
                    >
                        Protocol Name<sup><b>*</b></sup>
                    </label>
                </td>

                <td>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="protocolName"
                        ngModel
                        required
                    >
                </td>
            </tr>
            <!--  -----  END Protocol Name  ----- -->

            <!--  -----  Protocol Abbreviation  ----- -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="abbreviation"
                    >
                        <div>Protocol</div>
                        <div>Abbreviation</div>
                    </label>
                </td>

                <td>
                    <input
                        class="form-control"
                        id="abbreviation"
                        name="abbreviation"
                        type="text"
                        ngModel
                    >
                </td>
            </tr>
            <!-- END Protocol Abbreviation -->

            <!-- Protocol Version-->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="protocolVersion"
                    >
                        Protocol Version
                    </label>
                </td>

                <td>
                    <input
                        class="form-control"
                        id="protocolVersion"
                        name="version"
                        type="text"
                        ngModel
                    >
                </td>
            </tr>

            <!--            END Protocol Version-->
            <!--            Protocol File-->
            <tr>
                <td>
                    <label>
                        Protocol File
                    </label>
                </td>


                <!-- Radio buttons for "Upload"/"Enter File URL" -->
                <td>

                    <!-- Radio button for Upload -->
                    <input
                        class="mr-1 custom-radio"
                        name="create_protocol_file_radio"
                        id="create_protocol_file_radio0"
                        type="radio"
                        checked
                        (click)="onUpload()"
                    >
                    <label
                        class="mr-3"
                        for="create_protocol_file_radio0"
                    >
                        Upload
                    </label>
                    <!-- END Radio button for Upload -->


                    <!-- Radio button for File URL -->
                    <input
                        class="mr-1 custom-radio"
                        name="create_protocol_file_radio"
                        id="create_protocol_file_radio1"
                        type="radio"
                        (click)="onEnterFileUrl()"
                    >
                    <label
                        for="create_protocol_file_radio1"
                        class="p-0 m-0"
                    >
                        Enter File URL
                    </label>
                    <!-- END Radio button for File URL -->

                    <!-- END Radio buttons for "Upload"/"Enter File URL" -->


                    <!-- File browser button -->
                    <input
                        [ngClass]="{
                                'hide': uriExternal
                           }"
                        type="file"
                        (change)="getFiles($event)"
                    >
                    <!-- END File browser button -->


                    <!-- File URL text input -->
                    <input
                        [ngClass]="{
                                'hide': ! uriExternal
                           }"  placeholder="File URL"
                        class="form-control"
                        type="text"
                        id="externalUrl"
                        name="externalUrl"
                        [(ngModel)]="externalUrl"
                    >
                    <!-- File URL text input -->
                </td>
            </tr>



            <!-- Protocol File Title -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="fileTitle"
                    >
                        File Title
                    </label>
                </td>

                <td>
                    <input
                        class="form-control"
                        name="fileTitle"
                        id="fileTitle"
                        type="text"
                        ngModel
                    >
                </td>
            </tr>
            <!-- END Protocol File Title -->

            <!--  Description  -->
            <tr>
                <td>
                    Description
                </td>

                <td>
                    <textarea
                        class="form-control"
                        name="fileDescription"
                        id=""
                        cols="30"
                        rows="3"
                        ngModel
                    >
                    </textarea>
                </td>
            </tr>
            <!--  END Description  -->

        </table>


        <div class="protocol-create-search-button-group p-2">
            <input
                (click)="onReset()"
                type="reset"
                value="Reset"
                class="btn btn-danger m-1"
            >

            <input [disabled]= "!f.valid"
                   type="submit"
                   value="Save"
                   class="btn-canano m-1"
            >


        </div>
    </form>
</div>

<!--

<form (ngSubmit)="onSubmit()" #f="ngForm">
    <h4>protocolTypes[0]: {{protocolTypes[0]}}</h4>
    <h4>defaultProtocolType: {{defaultProtocolType}}</h4>

    <select
        id="protocolType"
        class="form-control"
        [ngModel]="defaultProtocolType"
        name="type">

        <option *ngFor="let type of protocolTypes" value="type">{{type}}</option>
    </select>


    <input
        type="button"
        value="Submit"
        (click)="onSubmit()"
    >
    <input
        type="button"
        value="Reset"
        (click)="onReset()"
    >
</form>
-->
