<span *ngIf="sampleData === undefined"
>
    <h1>Waiting on Sample data</h1>

</span>
<span *ngIf="sampleData !== undefined">
<p>main-display/samples/sample-search/sample-advanced-search/sample-advanced-search.component.html</p>
<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingAdvancedSearchSample"
>
</canano-main-display-heading>

    <!-- ------------------------------------------------- -->
    <!-- ---------------  Sample Criteria  --------------- -->
    <!-- ------------------------------------------------- -->
<div class="main-advanced-search-criteria-div p-2 m-2">
    <span><b>Sample Criteria</b></span>

    <!-- -----  Display sampleQueries (if there are any)  ----- -->
    <!-- Show when there is at least one Sample Criteria -->
    <div *ngIf="sampleQueries.length > 0" class="sample-criteria-current-div -p2">
        <table width="100%"> <!-- TODO move to appropriate scss -->
            <tr *ngFor="let criteria of sampleQueries; let i = index">
                <td>
                    {{criteria['nameType']}}
                </td>
                <td>
                    {{criteria['operand']}}
                </td>
                <td>
                    {{criteria['name']}}
                </td>
                <td>
                    <!-- Edit this criteria (switch to edit mode UI) -->
                    <button class="btn btn-primary mr-1"
                            (click)="onEditSampleCriteria( i )"
                    >Edit
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!-- -----  END Display sampleQueries (if there are any)  ----- -->


    <!-- -----  Edit existing sample query  ----- -->
    <div *ngIf="editSampleQueryMode" class="sample-criteria-add-div p-1">

        <!-- First Dropdown -->
        <select class="mr-1"
                name="sampleCriteriaEditDropdownName" id="sampleCriteriaEditDropdownName"
                [(ngModel)]="sampleCriteriaEditNameType"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option value="sample name">sample name</option>
            <option value="point of contact name">point of contact name</option>
        </select>

        <!-- Second Dropdown -->
        <select class="mr-1"
                name="sampleCriteriaEditOperand" id="sampleCriteriaEditOperand"
                [(ngModel)]="sampleCriteriaEditOperand"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option value="contains">contains</option>
            <option value="equals">equals</option>
        </select>

        <!-- Text input for Sample name -->
        <input type="text"
               name="sampleCriteriaTextInput"
               [(ngModel)]="sampleEditCriteriaTextInput"
        >
        <div>
            <!-- Save these values and leave edit mode -->
            <button class="btn btn-primary mr-1"
                    [disabled]="sampleEditCriteriaTextInput === '' || sampleCriteriaEditOperand === PLEASE_SELECT ||  sampleCriteriaEditNameType === PLEASE_SELECT"
                    (click)="onUpdateSampleCriteria()"
            >Update
            </button>

            <!-- This deletes them all in the AngularJS version -->
            <button class="btn btn-danger mr-1"
            >Reset
            </button>

            <!-- Delete this one criteria and leave edit mode -->
            <button class="btn btn-danger"
                    (click)="onDeleteSampleCriteria()"
            >Delete
            </button>
        </div>
    </div>

    <!-- -----  Add to sampleQueries ----- -->
    <div *ngIf="! editSampleQueryMode" class="sample-criteria-add-div p-1">

        <!-- First Dropdown -->
        <select class="mr-1"
                name="sampleCriteriaDropdownName"
                id="sampleCriteriaDropdownName"
                [(ngModel)]="sampleCriteriaNameType"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option value="sample name">sample name</option>
            <option value="point of contact name">point of contact name</option>
        </select>

        <!-- Second Dropdown -->
        <select class="mr-1"
                name="sampleCriteriaOperand" id="sampleCriteriaOperand"
                [disabled]="sampleCriteriaNameType === PLEASE_SELECT"
                [(ngModel)]="sampleCriteriaOperand"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option value="contains">contains</option>
            <option value="equals">equals</option>
        </select>

        <!-- Text input for Sample name -->
        <input type="text"
               name="sampleCriteriaTextInput"
               [(ngModel)]="sampleCriteriaTextInput"
        >

        <!-- Add and Reset buttons for Sample Criteria -->
        <div>
            <button class="btn btn-primary mr-1"
                    [disabled]="sampleCriteriaTextInput === '' || sampleCriteriaOperand === PLEASE_SELECT ||  sampleCriteriaNameType === PLEASE_SELECT"
                    (click)="onAddSampleCriteria()"
            >Add
            </button>

            <!-- Deletes all @CHECKME This is how the current version works, not sure this is good -->
            <button class="btn btn-danger"
                    (click)="onResetSampleCriteria()"
            >Reset
            </button>
        </div>
        <!-- END Add and Reset buttons for Sample Criteria -->

    </div>
    <!-- -----  END Add to sampleQueries ----- -->

    <!-- Radio buttons for Sample Criteria -->
    <!--This will only be shown if there is more than one Sample Criteria -->
    <div *ngIf="sampleQueries.length > 1">
        <!-- Radio button for Sample And -->
        <input
            class="mr-1"
            name="sample-criteria-and-or_radio"
            id="sample-criteria-and-radio"
            type="radio"
            [checked]="sampleLogicalOperator === 'and'"
            (click)="sampleCriteriaAndRadioClick()"
        >
        <label
            class="mr-3"
            for="sample-criteria-and-radio"
        >
            And
        </label>
        <!-- END Radio button for And -->

        <!-- Radio button for Sample Or -->
        <input
            class="mr-1"
            name="sample-criteria-and-or_radio"
            id="sample-criteria-or-radio"
            type="radio"
            [checked]="sampleLogicalOperator === 'or'"
            (click)="sampleCriteriaOrRadioClick()"
        >
        <label
            class="mr-3"
            for="sample-criteria-or-radio"
        >
            Or
        </label>
        <!-- END Radio button for Or -->
    </div>
    <!-- END Radio buttons for Sample Criteria -->

</div>
    <!-- ------------------------------------------------- -->
    <!-- ------------- END Sample Criteria  -------------- -->
    <!-- ------------------------------------------------- -->


    <!-- ------------------------------------------------- -->
    <!-- ------------  Composition Criteria  ------------- -->
    <!-- ------------------------------------------------- -->
<div class="main-advanced-search-criteria-div p-2 m-2">
    <span><b>Composition Criteria</b></span>

    <!-- -----  Display compositionQueries (if there are any)  ----- -->
    <!-- Show when there is at least one Composition Criteria -->
    <div *ngIf="compositionQueries.length > 0" class="sample-criteria-current-div -p2">
        <table width="100%"> <!-- TODO move to appropriate scss -->
            <tr *ngFor="let criteria of compositionQueries; let i = index">
                <td>
                    {{criteria['composition']}}
                </td>
                <td>
                    {{criteria['entityType']}}
                </td>
                <td>
                    {{criteria['operand']}}
                </td>
                <td>
                    {{criteria['name']}}
                </td>

                <td>
                    {{criteria['chemicalName']}}
                </td>
                <td>
                    <!-- Edit this criteria (switch to edit mode UI) -->
                    <button class="btn btn-primary mr-1"
                            (click)="onEditCompositionCriteria( i )"
                    >Edit
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!-- -----  END Display compositionQueries (if there are any)  ----- -->


    <!-- -----  Edit existing Composition query  ----- -->
    <div *ngIf="editCompositionQueryMode" class="sample-criteria-add-div p-1">
        <!-- First Dropdown -->
        <select class="mr-1"
                name="compositionEditCriteriaDropdownName"
                id="compositionEditCriteriaDropdownName"
                [(ngModel)]="compositionEditCriteriaCompositionType"
                (ngModelChange)="onCompositionEditCriteriaDropdownOne()"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option value="nanomaterial entity">nanomaterial entity</option>
            <option value="functionalizing entity">functionalizing entity</option>
            <option value="function">function</option>
        </select>

        <!-- Second Dropdown -->
        <select class="mr-1"
                name="compositionEditCriteriaDropdownTwoValue"
                id="compositionEditCriteriaDropdownTwoValue"
                [(ngModel)]="compositionEditCriteriaDropdownTwoValue"
                (ngModelChange)="onCompositionEditCriteriaDropdownTwo()"
                [disabled]="compositionEditCriteriaCompositionType === PLEASE_SELECT"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option *ngFor="let menuItem of compositionEditCriteriaDropdownTwo"
                    value="{{menuItem}}">
                {{menuItem}}
            </option>
        </select>

        <!-- If the Composition criteria is "function" only show two dropdowns, nothing else -->
        <span *ngIf="compositionEditCriteriaCompositionType !== 'function'">
            with chemical name
            <!-- Third Dropdown -->
            <select class="mr-1"
                    name="operand" id="compositionEditCriteriaOperand"
                    [(ngModel)]="compositionEditCriteriaOperand"
            >
                <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
                <option value="contains">contains</option>
                <option value="equals">equals</option>
            </select>

            <!-- chemicalName -->
            <input type="text"
                   name="compositionEditCriteriaTextInput"
                   [(ngModel)]="compositionEditCriteriaTextInput"
            >
        </span>


        <div>
            <button class="btn btn-primary mr-1"
                    [disabled]="(compositionEditCriteriaCompositionType !== 'function' && (compositionEditCriteriaTextInput === '' || compositionEditCriteriaDropdownTwoValue === PLEASE_SELECT || compositionEditCriteriaOperand === PLEASE_SELECT)) ||
                            (compositionEditCriteriaCompositionType === 'function' && compositionEditCriteriaDropdownTwoValue === PLEASE_SELECT)"
                    (click)="onUpdateCompositionEditCriteria()"
            >Update<!-- This is labeled "Add" seemed too wrong to leave  @CHECKME -->
            </button>
            <button class="btn btn-danger mr-1"
                    (click)="onResetCompositionEditCriteria()"
            >Reset
            </button>

            <!-- Delete this one query from compositionQueries -->
            <button class="btn btn-danger"
                    (click)="onDeleteCompositionCriteria()"
            >Delete
            </button>
        </div>

    </div>

    <!-- -----  Add to Composition Queries ----- -->
    <div *ngIf="! editCompositionQueryMode" class="sample-criteria-add-div p-1">
        <!-- First Dropdown -->
        <select class="mr-1"
                name="compositionCriteriaDropdownName"
                id="compositionCriteriaDropdownName"
                [(ngModel)]="compositionCriteriaCompositionType"
                (ngModelChange)="onCompositionCriteriaDropdownOne()"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option value="nanomaterial entity">nanomaterial entity</option>
            <option value="functionalizing entity">functionalizing entity</option>
            <option value="function">function</option>
        </select>

        <!-- Second Dropdown -->
        <select class="mr-1"
                name="compositionCriteriaDropdownTwoValue"
                id="compositionCriteriaDropdownTwoValue"
                [(ngModel)]="compositionCriteriaDropdownTwoValue"
                (ngModelChange)="onCompositionCriteriaDropdownTwo()"
                [disabled]="compositionCriteriaCompositionType === PLEASE_SELECT"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option *ngFor="let menuItem of compositionCriteriaDropdownTwo"
                    value="{{menuItem}}">
                {{menuItem}}
            </option>
        </select>

        <!-- Third Dropdown (If Composition type is not "function") -->
        <span *ngIf="compositionCriteriaCompositionType !== 'function'">
            with chemical name

            <select class="mr-1"
                    name="operand" id="compositionCriteriaOperand"
                    [disabled]="compositionCriteriaDropdownTwoValue === PLEASE_SELECT"
                    [(ngModel)]="compositionCriteriaOperand"
            >
                <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
                <option value="contains">contains</option>
                <option value="equals">equals</option>
            </select>

            <!-- chemicalName -->
             <input type="text"
                    name="compositionCriteriaTextInput"
                    [(ngModel)]="compositionCriteriaTextInput"
             >
        </span>

        <!-- Add and Reset buttons for composition Criteria -->
        <div>
            <button class="btn btn-primary mr-1"

                    [disabled]="( compositionCriteriaCompositionType === PLEASE_SELECT ) ||
                                ( compositionCriteriaDropdownTwoValue === PLEASE_SELECT ) ||
                                (
                                    compositionCriteriaCompositionType !== 'function' &&
                                    (
                                        (compositionCriteriaOperand === PLEASE_SELECT) ||
                                        (compositionCriteriaTextInput === '')
                                    )
                                )"
                    (click)="onAddCompositionCriteria()"
            >Add
            </button>

            <button class="btn btn-danger"
                    (click)="onResetCompositionCriteria()"
            >Reset
            </button>
        </div>
        <!-- END Add and Reset buttons for Composition Criteria -->

    </div>
    <!-- -----  END Add to Composition Queries ----- -->
    <!-- Radio buttons for Composition Criteria -->
    <!--This will only be shown if there is more than one Composition Criteria -->
    <div *ngIf="compositionQueries.length > 1">
        <!-- Radio button for Composition And -->
        <input
            class="mr-1"
            name="composition-criteria-and-or_radio"
            id="composition-criteria-and-radio"
            type="radio"
            [checked]="compositionLogicalOperator === 'and'"
            (click)="compositionCriteriaAndRadioClick()"
        >
        <label
            class="mr-3"
            for="composition-criteria-and-radio"
        >
            And
        </label>
        <!-- END Radio button for And -->

        <!-- Radio button for Composition Or -->
        <input
            class="mr-1"
            name="composition-criteria-and-or_radio"
            id="composition-criteria-or-radio"
            type="radio"
            [checked]="compositionLogicalOperator === 'or'"
            (click)="compositionCriteriaOrRadioClick()"
        >
        <label
            class="mr-3"
            for="composition-criteria-or-radio"
        >
            Or
        </label>
        <!-- END Radio button for Or -->
    </div>
    <!-- END Radio buttons for Composition Criteria -->
</div>
    <!-- ------------------------------------------------- -->
    <!-- ----------  END Composition Criteria  ----------- -->
    <!-- ------------------------------------------------- -->


    <!-- ------------------------------------------------- -->
    <!-- ----------  Characterization Criteria  ---------- -->
    <!-- ------------------------------------------------- -->
<div *ngIf="sampleData !== undefined"
     class="main-advanced-search-criteria-div p-2 m-2">
    <span><b>Characterization Criteria</b></span>

    <!-- -----  Display Characterization (if there are any)  ----- -->
    <!-- Show when there is at least one Characterization Criteria -->
    <div *ngIf="characterizationQueries.length > 0" class="sample-criteria-current-div -p2">
        <table width="100%"> <!-- TODO move to appropriate scss -->
            <tr *ngFor="let criteria of characterizationQueries; let i = index">
                <td>
                    {{criteria['characterizationType']}}
                </td>
                <td>
                    {{criteria['characterizationNameLabel']}}
                </td>
                <td>
                    {{criteria['datumName']}}
                </td>
                <td>
                    {{criteria['operand']}}
                </td>
                <td>
                    {{criteria['datumValue']}}
                </td>
                <td>
                    {{criteria['datumValueUnit']}}
                </td>
                <td>
                    <!-- Edit this criteria (switch to edit mode UI) -->
                    <button class="btn btn-primary mr-1"
                            (click)="onEditCharacterizationCriteria( i )"
                    >Edit
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!-- -----  END Display Characterization (if there are any)  ----- -->

    <!-- -----  Add to Characterization criteria Queries ----- -->
    <div *ngIf="! editCharacterizationQueryMode" class="sample-criteria-add-div p-1" >

        <!-- First Dropdown -->
        <select style="width: 15%;"
            class="mr-1"
            name="editCharacterizationDropdownOne"
            id="editCCharacterizationDropdownOne"
            [(ngModel)]="characterizationCriteriaDropdownOneValue"
            (ngModelChange)="onCharacterizationCriteriaDropdownOne()"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option *ngFor="let menuItem of this.sampleData['characterizationTypes']"
                    value="{{menuItem['label']}}">
                {{menuItem['label']}}
            </option>
        </select>

        <!-- Second Dropdown -->
        <select style="width: 15%;"
            class="mr-1"
            name="editCharacterizationDropdownTwo"
            id="editCCharacterizationDropdownTwo"
            [disabled]="characterizationCriteriaDropdownOneValue === PLEASE_SELECT"
            [(ngModel)]="characterizationCriteriaDropdownTwoValue"
            (ngModelChange)="onCharacterizationCriteriaDropdownTwo()"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option *ngFor="let menuItem of this.characterizationCriteriaDropdownTwo"
                    value="{{menuItem['label']}}">
                {{menuItem['label']}}
            </option>
        </select>

        <!-- Third Dropdown -->
        <select  style="width: 15%;"
            class="mr-1"
            name="editCharacterizationDropdownThree"
            id="editCCharacterizationDropdownThree"
            [disabled]="characterizationCriteriaDropdownTwoValue === PLEASE_SELECT"
            [(ngModel)]="characterizationCriteriaDropdownThreeValue"
            (ngModelChange)="onCharacterizationCriteriaDropdownThree()"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option *ngFor="let menuItem of this.characterizationCriteriaDropdownThree"
                    value="{{menuItem['label']}}">
                {{menuItem['label']}}
            </option>
        </select>

        <!-- Operand dropdown -->
        <select *ngIf="characterizationCriteriaDropdownThreeValue !== PLEASE_SELECT"  style="width: 10%;"
                name="characterizationOperandSelect"
                id="characterizationOperandSelect"
                [(ngModel)]="characterizationOperandSelect"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option value="=">=</option>
            <option value=">">></option>
            <option value=">=">>=</option>
            <option value="<"><</option>
            <option value="<="><=</option>
        </select>

        <!-- Characterization Datum Value -->

        <span *ngIf="characterizationCriteriaDropdownThreeValue !== PLEASE_SELECT">
            <input
                type="text"
                [(ngModel)]="characterizationDatumValue"
                id="characterizationDatumValue"
            >
        </span>

        <!-- Third Dropdown -->
        <select *ngIf="(characterizationCriteriaDropdownThreeValue !== PLEASE_SELECT) && (characterizationCriteriaDropdownFour.length > 0 )"
            class="mr-1"
            name="editCharacterizationDropdownFour"
            id="editCCharacterizationDropdownFour"
            [disabled]="characterizationCriteriaDropdownThreeValue === PLEASE_SELECT"
            [(ngModel)]="characterizationCriteriaDropdownFourValue"
            (ngModelChange)="onCharacterizationCriteriaDropdownFour()"
        >
            <option value={{PLEASE_SELECT}}>{{PLEASE_SELECT}}</option>
            <option *ngFor="let menuItem of characterizationCriteriaDropdownFour"
                    value="{{menuItem}}">
                {{menuItem}}
            </option>
        </select>

        <!-- Add and Reset buttons for characterization Criteria -->

        <div class="m-1">
            <button class="btn btn-primary mr-1"

                    [disabled]="( characterizationOperandSelect === PLEASE_SELECT ) ||
                    ( characterizationCriteriaDropdownTwoValue === PLEASE_SELECT ) ||
                    ( characterizationCriteriaDropdownThreeValue === PLEASE_SELECT ) ||
                    (characterizationCriteriaDropdownOneValue === PLEASE_SELECT)
                "
                    (click)="onAddCharacterizationCriteria()"
            >Add
            </button>

            <button class="btn btn-danger"
                    (click)="onResetCharacterizationCriteria()"
            >Reset
            </button>
        </div>

        <!-- END Add and Reset buttons for Characterization Criteria -->











        <!-- Radio buttons for Characterization Criteria -->
        <!--This will only be shown if there is more than one Characterization Criteria -->
    <div *ngIf="characterizationQueries.length > 1">
        <!-- Radio button for Characterization And -->
        <input
            class="mr-1"
            name="characterization-criteria-and-or_radio"
            id="characterization-criteria-and-radio"
            type="radio"
            [checked]="characterizationLogicalOperator === 'and'"
            (click)="characterizationCriteriaAndRadioClick()"
        >
        <label
            class="mr-3"
            for="characterization-criteria-and-radio"
        >
            And
        </label>
        <!-- END Radio button for And -->

        <!-- Radio button for Characterization Or -->
        <input
            class="mr-1"
            name="characterization-criteria-and-or_radio"
            id="characterization-criteria-or-radio"
            type="radio"
            [checked]="characterizationLogicalOperator === 'or'"
            (click)="characterizationCriteriaOrRadioClick()"
        >
        <label
            class="mr-3"
            for="characterization-criteria-or-radio"
        >
            Or
        </label>
        <!-- END Radio button for Or -->
    </div>
        <!-- END Radio buttons for Characterization Criteria -->



    </div>
    <!-- ------------------------------------------------- -->
    <!-- --------  END  Characterization Criteria  ------- -->
    <!-- ------------------------------------------------- -->

</div>

    <!-- Top level And/Or -->
    <div class="ml-2">
                <!-- Radio button for Composition And -->
        <input
            class="mr-1"
            name="master-criteria-and-or_radio"
            id="master-criteria-and-radio"
            type="radio"
            [checked]="masterLogicalOperator === 'and'"
            (click)="masterCriteriaAndRadioClick()"
        >
        <label
            class="mr-3"
            for="master-criteria-and-radio"
        >
            And
        </label>
        <!-- END Radio button for And -->

        <!-- Radio button for Composition Or -->
        <input
            class="mr-1"
            name="master-criteria-and-or_radio"
            id="master-criteria-or-radio"
            type="radio"
            [checked]="masterLogicalOperator === 'or'"
            (click)="masterCriteriaOrRadioClick()"
        >
        <label
            for="master-criteria-or-radio"
        >
            Or
        </label>
    </div>

    <div>
        <button
            class="btn btn-primary float-right"
            (click)="onSearchClicked()"
        >Search</button>

        <button
            class="btn btn-danger float-right mr-1"
            (click)="onResetClicked()"
        >Rest</button>
    </div>

</span>
