
.main-advanced-search-criteria-div{
    border: solid #d4d4d5 2px;
    width: 100%;
    color: #606060;
}

.sample-criteria-current-div{
    border: solid #ccf 1px;
}

.sample-criteria-add-div{
    padding: 6px;
    border: solid #ccf 1px;
}

// @TODO This is the best way
button:disabled{
    cursor: not-allowed;
    pointer-events: all !important;
}
