
.main-advanced-search-criteria-div{
    border: solid #d4d4d5 2px;
    width: 100%;
    background-color: #ff0783;
    color: #606060;

}

.sample-criteria-current-div{
    border: solid #ccf 1px;
    background-color: #ffc107;
}

.sample-criteria-add-div{
    padding: 6px;
    border: solid #ccf 1px;
    //  background-color: #f4f4f5;
    background-color: #07ff0b;
}

// @TODO This is the best way
button:disabled{
    cursor: not-allowed;
    pointer-events: all !important;
}
