<div
    style="background-color: #00ffde"
    class="right-side-bar-content"
>

    <span class="m-1"><strong>No account is required to browse publicly available data.</strong></span>
  <table class="ml-2">
      <tr>
          <td style="text-align: right;">
            <label for="loginId">LOGIN ID</label>              
          </td>
          <td>
              <input
                  [(ngModel)]="user"
                  type="text" id="loginId">
          </td>
      </tr>
      <tr>
          <td style="text-align: right;">
            <label for="password">PASSWORD</label>
          </td>
          <td>
              <input
                  [(ngModel)]="password"
                  type="password" id="password"
              >
          </td>
      </tr>
      <tr>
          <td> </td>
          <td>
              <button
                  class="btn-canano-blue"
                  (click)="onLoginClick()"

              >Login</button>
          </td>
      </tr>
  </table>
</div>
