@import "../../../main-display/main-display.component.scss";
@import "../../../../app.component";
@import "../../../../btn-canano";
@import "../../../cananolab-client.component";
@import "../../protocols/protocols.component";
@import '../../main-display.component.scss';
/*
td{
    background-color: #7abaff;
    border: solid #a90101 3px;
}
*/

td{
    padding: 4px;
}
