<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingName"
>
</canano-main-display-heading>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input type="hidden" [hidden]="true" class="form-control" name="fileId" [(ngModel)]="fileId">
    <input type="hidden" [hidden]="true" class="form-control" name="review" [(ngModel)]="review">
    <input type="hidden" [hidden]="true" class="form-control" name="isPublic" [(ngModel)]="isPublic">

    <input type="hidden" [hidden]="true" class="form-control" name="uri" [(ngModel)]="uri">
    <input type="hidden" [hidden]="true" class="form-control" name="theAccess" [(ngModel)]="theAccess">

    <input type="hidden" [hidden]="true" class="form-control" name="uriExternal" [(ngModel)]="uriExternal">

    <input type="hidden" [hidden]='true' class="form-control" name="createdBy" [(ngModel)]="createdBy">
    <input type="hidden" [hidden]='true' class="form-control" name="isOwner" [(ngModel)]="isOwner">

    <div class="outer-input-frame protocols-links-panel m-2">

        <table>

            <!-- Protocol Type -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="protocolType"
                    >
                        Protocol Type<sup><b>*</b></sup>
                    </label>
                </td>
                <td colspan="2">
                    <select class="form-control"
                            name="type"
                            id="protocolType"
                            ngModel
                            required
                    >
                        <option *ngFor=" let option of protocolTypes"
                                value={{option}}
                        >
                            {{option}}
                        </option>
                    </select>
                </td>
            </tr>
            <!-- -----  END Protocol Type  ----- -->

            <!-- -----  Protocol Name  ----- -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="protocolName_input"
                    >
                        Protocol Name<sup><b>*</b></sup>
                    </label>
                </td>


                <td>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="protocolName_input"
                        ngModel
                        required
                    >
                </td>
            </tr>
            <!--  -----  END Protocol Name  ----- -->

            <!--  -----  Protocol Abbreviation  ----- -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="abbreviation"
                    >
                        <div>Protocol</div>
                        <div>Abbreviation</div>
                    </label>
                </td>

                <td>
                    <input
                        class="form-control"
                        id="abbreviation"
                        name="abbreviation"
                        type="text"
                        ngModel
                    >
                </td>
            </tr>
            <!-- END Protocol Abbreviation -->


            <!-- Protocol Version -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="protocolVersion"
                    >
                        Protocol Version
                    </label>
                </td>

                <td>
                    <input
                        class="form-control"
                        id="protocolVersion"
                        name="version"
                        type="text"
                        ngModel
                    >
                </td>
            </tr>
            <!-- END Protocol Version -->


            <!-- @TODO - Put "Protocol File" here. -->
            <!--            Protocol File-->
            <tr>
                <td>
                    <label>
                        Protocol File
                    </label>
                </td>


                <!-- Radio buttons for "Upload"/"Enter File URL" -->
                <td>

                    <!-- Radio button for Upload -->
                    <input
                        class="mr-1"
                        name="create_protocol_file_radio"
                        id="create_protocol_file_radio0"
                        type="radio"
                        checked
                        (click)="onUpload()"
                    >
                    <label
                        class="mr-3"
                        for="create_protocol_file_radio0"
                    >
                        Upload
                    </label>
                    <!-- END Radio button for Upload -->


                    <!-- Radio button for File URL -->
                    <input
                        class="mr-1"
                        name="create_protocol_file_radio"
                        id="create_protocol_file_radio1"
                        type="radio"
                        (click)="onEnterFileUrl()"
                    >
                    <label
                        for="create_protocol_file_radio1"
                        class="p-0 m-0"
                    >
                        Enter File URL
                    </label>
                    <!-- END Radio button for File URL -->

                    <!-- END Radio buttons for "Upload"/"Enter File URL" -->


                    <!-- File browser button -->
                    <input
                        [ngClass]="{
                                'hide': ! upload
                           }"
                        type="file"
                        (change)="getFiles($event)"
                    >
                    <!-- END File browser button -->


                    <!-- File URL text input -->
                    <input

                          placeholder="File URL"

                           class="form-control"
                          type="text"
                          id="externalUrl"
                          name="externalUrl"
                          [(ngModel)]="externalUrl"
                    >
                    <!-- File URL text input -->
                </td>
            </tr>


            <!-- Protocol File Title -->
            <tr>
                <td>
                    <label class=" mt-0"
                           for="fileTitle"
                    >
                        File Title
                    </label>
                </td>

                <td>
                    <input
                        class="form-control"
                        name="fileTitle"
                        id="fileTitle"
                        type="text"
                        ngModel
                        required
                    >
                </td>
            </tr>
            <!-- END Protocol File Title -->

            <!--  Description  -->
            <tr>
                <td>
                    Description
                </td>

                <td>
                    <textarea
                        class="form-control"
                        name="fileDescription"
                        id=""
                        cols="30"
                        rows="3"
                        ngModel
                    >

                    </textarea>
                </td>
            </tr>
            <!--  END Description  -->

        </table>
    </div>

    <div class="protocol-create-search-button-group p-2">

        <!-- @TODO Reset/Clear button -->
        <button
            class="btn btn-danger m-1"
            type="reset"
        >
            Reset
        </button>
        <button
            class="btn-canano m-1"
            type=submit
        >
            Create
        </button>

    </div>

</form>
