$composing-element-font: arial, helvetica, verdana, sans-serif;
$composing-element-font-size: 10px;
$composing-element-input-border-color: #7f9DB9;
$composing-element-input-background-color: #F4F4F5;
$composing-element-input-text-color: #5C5C5C;

.neDescription{
   size: 100ch;
}
