<div>
    <canano-main-display-heading
        [helpUrl]="helpUrl"
        [toolHeadingName]="toolHeadingNameSearchResults"
    >
    </canano-main-display-heading>
</div>
<div *ngIf="protocolData !== undefined">

    <form (ngSubmit)="onSubmit(pf)" #pf="ngForm">


        <input type="hidden" [hidden]='true' class="form-control" name="createdBy" [(ngModel)]=protocolData.createdBy>
        <input type="hidden" [hidden]='true' class="form-control" name="fileId" [(ngModel)]=protocolData.fileId>
        <input type="hidden" [hidden]='true' class="form-control" name="id" [(ngModel)]=protocolData.id>
        <input type="hidden" [hidden]='true' class="form-control" name="isPublic" [(ngModel)]=protocolData.isPublic>
        <input type="hidden" [hidden]='true' class="form-control" name="isOwner" [(ngModel)]=protocolData.isOwner>
        <input type="hidden" [hidden]='true' class="form-control" name="uriExternal" [(ngModel)]=protocolData.uriExternal>
        <input type="hidden" [hidden]='true' class="form-control" name="review" [(ngModel)]=protocolData.review>

        <table class="protocol-edit-table ml-2">
            <!-- -----  Protocol Type  ----- -->
            <tr>
                <td class="proto-edit-table-text-td">
                    <label for="protocolType">
                        Protocol Type<sup><b>*</b></sup>
                    </label>
                </td>

                <td class="protocol-edit-table-input-td">
                    <select class="form-control"
                            name="type"
                            id="protocolType"
                            [(ngModel)]="protocolData.type"
                            required
                    >
                        <option *ngFor=" let option of protocolTypes"
                                value={{option}}
                        >
                            {{option}}
                        </option>
                    </select>
                </td>
            </tr>
            <!-- -----  END Protocol Type  ----- -->

            <!-- -----  Protocol Name  ----- -->
            <tr>
                <td class="proto-edit-table-text-td">
                    <label for="protocolName"> Protocol Name<sup><b>*</b></sup></label>
                </td>
                <td class="protocol-edit-table-input-td">
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="protocolName"
                        [(ngModel)]="protocolData['name']"
                        required
                    >
                </td>
            </tr>
            <!-- -----  END Protocol Name  ----- -->

            <!-- -----  Protocol Abbreviation  ----- -->
            <tr>
                <td class="proto-edit-table-text-td">
                    <label for="protocolAbbreviation"> Protocol Abbreviation</label>
                </td>

                <td class="protocol-edit-table-input-td">
                    <input
                        type="text"
                        class="form-control"
                        name="abbreviation"
                        id="protocolAbbreviation"
                        [(ngModel)]="protocolData['abbreviation']"
                    >
                </td>

            </tr>
            <!-- -----  END Protocol Abbreviation  ----- -->
            <!-- -----  Protocol Version  ----- -->
            <tr>
                <td class="proto-edit-table-text-td">
                    <label for="protocolVersion">Protocol Version</label>
                </td>

                <td class="protocol-edit-table-input-td">
                    <input
                        type="text"
                        class="form-control"
                        name="version"
                        id="protocolVersion"
                        [(ngModel)]="protocolData['version']"
                    >
                </td>
            </tr>
            <!-- -----  END Protocol Version  ----- -->

            <!-- -----  Protocol File  ----- -->
            <tr>
                <td class="proto-edit-table-text-td">
                    <label>Protocol File</label>
                </td>

                <td class="protocol-edit-table-input-td">

                    <!-- -----  Upload/Enter File URL  ----- -->

                    <!-- Upload radio button -->
                    <label class="ml-1">
                        <input
                            name="protocolFile"
                            id="protocolFile_radio0"
                            type="radio"
                            [checked]="!protocolData.uriExternal"
                            (click)="onProtocolFileRadioClick( 0 )"
                        >
                        Upload
                    </label>
                    <!-- END Upload radio button -->

                    <!-- Enter File URL radio button -->
                    <label class="ml-2">
                        <input
                            class="ml-2"
                            name="protocolFile"
                            id="protocolFile_radio1"
                            type="radio"
                            [checked]="protocolData.uriExternal"
                            (click)="onProtocolFileRadioClick( 1 )"
                        >
                        Enter File URL
                    </label>
                    <!-- END Enter File URL radio button -->

                    <br>

                    <!-- Browser file upload UI element -->
                    <div>

                        <input
                            *ngIf="! protocolData.uriExternal"
                            type="file"
                            name="filename"
                            (change)="getFiles($event)"
                        >




                    </div>
                    <!-- END Browser file upload UI element -->


                    <!-- Enter a file in a text input -->
                    <span *ngIf="protocolData.uriExternal">
                        <input
                            class="protocol-edit-table-text-input form-control bg-danger"
                            type="text"
                            [(ngModel)]="externalUrl"
                            name="externalUrl"
                            ngModel
                        >

                        <!-- Disclaimer -->
                        <div class="clicker"
                             (click)="openWindow( properties.API_SERVER_URL + '/' + properties.DISCLAIMER_URL, '')"
                        >
                            <small>[Disclaimer]</small>
                        </div>
                        <!-- END Disclaimer -->

                    </span>
                    <!-- END Enter a file in a text input -->


                    <!-- File upload -->
                    <span *ngIf="! protocolData.uriExternal">
                        {{protocolData.uri}}
                    </span>
                </td>
            </tr>
            <!-- -----  END Protocol File  ----- -->

            <!-- Debugging Stuff -->
 <!--           <tr>
                <td>
                    <b>Testing Stuff</b>
                </td>
            </tr>

            <tr>
                <td style="color: #a90101;"><small>
                    <b>
                        uriExternal:
                    </b></small>
                </td>
                <td style="color: #01a92b;"><small>
                    <b>
                        {{protocolData['uriExternal']}}<br>
                    </b></small>
                </td>
            <tr style="border: solid #ed969e 2px;">
                <td style="color: #a90101;"><small>
                    <b>
                        fileName:
                    </b></small>
                </td>
                <td style="color: #01a92b;"><small>
                    <b>
                        {{protocolData['fileName']}}<br>
                    </b></small>
                </td>
            <tr>
                <td style="color: #a90101;"><small>
                    <b>
                        uri:
                    </b></small>
                </td>
                <td style="color: #01a92b;"><small>
                    <b>
                        {{protocolData['uri']}}
                    </b></small>
                </td>
            </tr>

            <tr>
                <td style="color: #a90101"><small>
                    <b>
                        protocolShowFileUploader:
                    </b></small>
                </td>
                <td style="color: #01a92b;"><small>
                    <b>
                        {{protocolShowFileUploader}}
                    </b></small>
                </td>
            </tr>
-->
            <!-- END Debugging Stuff -->

            <!-- -----  File Title  ----- -->
            <tr>
                <td class="proto-edit-table-text-td">
                    <label>File Title</label>
                </td>
                <td class="protocol-edit-table-input-td">
                    <span>
                        <input
                            type="text"
                            class="form-control"
                            name="fileTitle"
                            id="fileTitle"
                            [(ngModel)]="protocolData['fileTitle']"
                        >
                    </span>
                </td>
            </tr>
            <!-- -----  END File Title  ----- -->

            <!--  Description  -->
            <tr>
                <td class="proto-edit-table-text-td">
                    Description
                </td>

                <td class="protocol-edit-table-input-td">
                    <textarea
                        class="form-control"
                        name="fileDescription"
                        id=""
                        cols="30"
                        rows="3"
                        [(ngModel)]="protocolData['fileDescription']"
                    >

                    </textarea>
                </td>
            </tr>
            <!--  END Description  -->

        </table>

        <button
            class="btn btn-danger m-1 float-left"
            type=reset
        >
            Delete
        </button>

        <button
            class="btn-canano m-1 float-right"
            type=submit
        >
            Update
        </button>

        <button
            class="btn btn-danger m-1 float-right"
            (click)="onProtocolRestClick()"
            type=button
        >
            Reset
        </button>

    </form>
</div>
