<table class="poc-table">
    <tr>
        <td class="poc-td-primary-contact">
            <b>Primary Contact?</b>
        </td>
        <td class="poc-td-contact-person">
            <b>Contact Person</b>
        </td>
        <td class="poc-td-contact-organization">
            <b>Organization</b>
        </td>
        <td class="poc-td-contact-role">
            <b>Role</b>
        </td>
    </tr>
    <tr *ngFor="let pointOfContact of poc">
        <td>
            <span *ngIf="pointOfContact['primaryContact']">
                Yes
            </span>
            <span *ngIf="! pointOfContact['primaryContact']">
                No
            </span>
        </td>
        <td>
            {{pointOfContact['firstName']}}&nbsp;{{pointOfContact['lastName']}}
        </td>
        <td>
            <div>
                {{pointOfContact['organization']['name']}}
            </div>
            <div>
                {{pointOfContact['organization']['address']['line1']}}
            </div>
            <div>
                {{pointOfContact['organization']['address']['line2']}}
            </div>
            <div>
                {{pointOfContact['organization']['address']['city']}}
                ,&nbsp;{{pointOfContact['organization']['address']['stateProvince']}}&nbsp;{{pointOfContact['organization']['address']['zip']}}&nbsp;{{pointOfContact['organization']['address']['country']}}
            </div>
        </td>
        <td>
            {{pointOfContact['role']}}
        </td>

        <td>
            <button
                class="btn btn-primary mr-1"
                (click)="onEditPocClick()"
            >
                Edit
            </button>
        </td>
    </tr>
</table>

<canano-point-of-contact-editor
    [ngClass]="{
        'hide': ! showPocEditor
    }"
    [poc] = poc
    [sampleData] = sampleData
>
</canano-point-of-contact-editor>
