@import "../../btn-canano";
@import "../../cananolab-client/cananolab-client.component";

td, th{
    vertical-align: top;
}

.poc-table{
    padding: 12px;
    border: solid #ccc 1px;
}

table{
    padding: 30px;
}

.poc-td{
    padding: 5px;
}

.poc-td-primary-contact{
    min-width: 150px;
    vertical-align: top;
}

.poc-td-contact-person{
    min-width: 200px;
    vertical-align: top;
}

.poc-td-contact-organization{
    min-width: 300px;
    vertical-align: top;
}

.poc-td-contact-role{
    min-width: 200px;
    vertical-align: top;
}
