.sample-edit-div{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding:2px ;
}

.editSection {
    margin:10px 5px 5px 5px;
    font-size:12px;
}
.editSection .editBorder {
    padding:0px;
    border:1px solid #ccc;
}


    .editSection .editButton{
        padding-top:5px;
        text-align:right;
    }
    .editSection table.files{
        width:100%;
    }

    .editSection table.files th{
        width:200px;
    }
    .editSection table.dataMain td{
        vertical-align:top;
        padding:10px;
    }




    .editSection table.dataMain td.label{
        font-weight:bold;
        width:200px !important;
        vertical-align:top;
    }

    .editSection table.antibodyProperties td.label{
        font-weight:bold;
        width:100px !important;
        vertical-align:top;
    }

    .editSection table.antibodyProperties{
        font-weight:bold;
        width:600px !important;
        vertical-align:top;
    }

    .editSection table.files td.label{
        font-weight:bold;
        width:200px;
        vertical-align:top;
    }

    th {
        text-align:left;
        padding:10px;
    }

    .dataMain.submit {
        width:100%;
    }
    .dataMain.submit td {
        text-align:right;
    }



    .techniqueInstrument {
        width:800px;
    }
    .editSection table.dataMain .techniqueInstrument td{
        vertical-align:top;
        border:1px solid #ccc !important;
        padding:10px 10px 10px 10px !important;
        margin:0px;
    }

    .techniqueInstrument th {
        background-color:#0073b9;
        border:1px solid #ccc;
        color:#fff;
    }

    ul {
        padding:0px 10px 0px 10px;
    }

    .dataMain.gray {
        background-color:#F4F4F5;
        padding:10px;
        width:100%;
    }
    .editSection table.dataMain .techniqueInstrument td .dataMain.gray {
        border:1px solid green;
    }
    .editSection table.dataMain .techniqueInstrument td .dataMain.gray td {
        padding:10px !important;
        border:none !important;

    }
.dataMain.gray td.label {
        max-width:200px !important;
        }
.dataMain.gray th {
        background-color:#fff;
        color:#000;
        border:none !important;
    }
