.fileTable {
    width:650px;
    color:#fff;
    border:1px solid #ccc;
}
.fileTable th{
    background-color:#0073b9;
    border:1px solid #ccc;
    padding:10px;
}

.fileTable td {
    color:#000;
    padding:10px;
    border:1px solid #ccc;
}

.mainBorder {
    padding:0px;
    border:1px solid #ccc;
    margin-top:10px;
    padding:10px;
}

.label {
    width:200px;
    font-weight:bold;
}
