<div style="z-index: 15;" class="container-fluid">
    <div
        *ngIf="poc"
        class="outer-div poc-editor">
        <h2>Point Of Contact Information</h2>
        <hr>
        <div
            class="m-3 p-3"
            style="background-color: #d3e4de;"
        >

            <table>
                <tr>
                    <td>
                        <div class="mr-2">Organization</div>
                        <span class="text-left float-left"><span>Name<sup><b>*</b></sup></span></span>
                    </td>
                    <td>
                        <select *ngIf="poc !== undefined && poc[0] !== undefined">
                            <option *ngFor="let org of sampleData['organizationNamesForUser']"
                                    [selected]="org===poc[0]['organization']['name']">
                                {{org}}
                            </option>
                        </select>
                    </td>
                    <td><span class="ml-3 mr-2">Role</span></td>
                    <td>
                        <select *ngIf="poc !== undefined && poc[0] !== undefined">
                            <option
                                *ngFor="let rol of sampleData['contactRoles']"
                                [selected]="rol===poc[0]['role']"
                            >{{rol}}</option>
                        </select>
                    </td>
                </tr>
            </table>

            <table>
                <tr *ngIf="poc !== undefined && poc[0] !== undefined">
                    <td>
                        <div class="mr-1">First Name</div>
                    </td>
                    <td>
                        <input
                            type="text"
                            [(ngModel)]="poc[0]['firstName']"
                        ></td>
                    <td>
                        <div class="ml-3 mr-2">Middle<br>Initial</div>
                    </td>
                    <td>
                        <input
                            type="text"
                            [(ngModel)]="poc[0]['middleInitial']"
                        >
                    </td>
                    <td>
                        <div class="ml-3 mr-2">Last Name</div>
                    </td>
                    <td>
                        <input
                            type="text"
                            [(ngModel)]="poc[0]['lastName']"
                        >
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <div>Phone</div>
                        <span class="text-left float-left mr-2">Number</span>
                    </td>
                    <td>
                        <input
                            type="text"
                            [(ngModel)]="poc[0]['phoneNumber']"
                        >
                    </td>
                    <td>
                        <div class="ml-2 mr-1">Email</div>
                    </td>
                    <td>
                        <input type="text"
                               [(ngModel)]="poc[0]['email']"
                        >
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        Address Line1
                    </td>
                    <td colspan="2">
                        <input
                            class="ml-1"
                            type="text"
                            [(ngModel)]="poc[0]['address']['line1']"
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        Address Line2
                    </td>
                    <td colspan="2">
                        <input
                            class="ml-1"
                            type="text"
                            [(ngModel)]="poc[0]['address']['line2']"
                        >
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        City
                    </td>
                    <td>
                        <input
                            type="text"
                            [(ngModel)]="poc[0]['address']['city']"
                        >
                    </td>
                    <td>
                        <span class="ml-3 mr-1">State/Province</span>
                    </td>
                    <td>
                        <input
                            type="text"
                            [(ngModel)]="poc[0]['address']['stateProvince']"
                        >
                    </td>
                    <td>
                        <div class="ml-3 mr-1">
                            Zip/Postal
                        </div>
                        <span class="ml-3">
                        Code
                    </span>
                    </td>
                    <td>
                        <input
                            class="ml-1"
                            type="text"
                            [(ngModel)]="poc[0]['address']['zip']"
                        >
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        Country
                    </td>
                    <td>
                        <input
                            class="ml-1"
                            type="text"
                            [(ngModel)]="poc[0]['address']['country']"
                        >
                    </td>
                </tr>
            </table>
        </div>

            <div class="float-right pb-1 pr-1">
                <button
                    class="btn btn-outline-primary"
                    (click)="onPocCancelClick()"
                >
                    Cancel
                </button>
                <button
                    class="btn btn-canano ml-1"
                    (click)="onPocSaveClick()"
                >
                    Save
                </button>
            </div>
    </div>
</div>
