@import "../../../app.component";
@import "../../../btn-canano";
@import "../../cananolab-client.component";

$popup-z-index: 10;
$poc-green: #ffffff;

td{
    margin: 16px;
    padding: 6px;
}

.hide{
    display: none;
}

.data-item-label{
    background-color: #e83e8c;
}

.poc-editor{
    margin: 18px;
    border: solid #ccc 1px;
}

.alert-box-div{
    z-index: $popup-z-index;
    position: absolute;

    /* Set the vertical location of all the Alert/Message boxes.  */
    // margin-top: $alert-top;
}

.alert-box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alert-box-button{
    float: right;
    margin-left: 4px;
}

.outer-div{
    background: #fff;
    position: absolute;
    top: 100px;
    left: 500px;
    // height: 350px;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 11px;
}

