@import '../cananolab-client.component.scss';

.outer-input-frame{
    border: solid #d4d4d4 2px;
}
.mainSection {
    margin:10px 5px 5px 5px;
    padding:2px;
    font-size:$mainFontSize;

}
.mainBorder {
    padding:5px;
    margin:2px;
    border:1px solid #ccc;
}

.dataMain  {
    margin:5px;
    width:90%;
}

.dataMain td.label {
    width:200px;
    padding:10px;
    font-weight:bold;
    vertical-align:top;
}
.dataMain td {
    padding:10px;
    vertical-align:top;
}

.dataMain td.buttons {
    text-align:right;
}


.links-panel{
    width: 500px;  // @FIXME - make a const
}

.create-search-button-group{
    float: right;
}
.create-delete-button-group{
    float: left;
}

label {
    font-weight:bold;
    margin-right:5px !important;
}

.searchForm {
    margin:5px;
}

.searchForm td{
    vertical-align:top;
    padding:5px 10px 5px 0px;
}

.searchForm td.label{
    vertical-align:top;
    padding-right:20px;
    width:150px;
}

.searchForm select.multiple {
    width:150px;
}

.searchForm select {
    margin-right:4px;
}

.searchForm span.label {
    padding-right:10px;
}

.submit {
    width:100%;
}

.buttons {
    margin:10px;
    text-align:right;
}

.buttons div {
    font-style: italic;
    color:#4A49A8;
    text-align:center;
}

.error {
    color:red;
    margin:5px;
}

.mainSection a {
    color:#00f !important;
    text-decoration: underline !important;
}



