<canano-main-display-heading
    [helpUrl]="helpUrl"
    [toolHeadingName]="toolHeadingNameSearchSample"
>
</canano-main-display-heading>
<div class="mainSection">
    <form name="createSampleForm">
        <div class="mainBorder">
            <table class="dataMain">
                <tr>
                    <td class="label">
                        <label for="sampleName">
                            Sample Name*
                        </label>
                    </td>
                    <td>
                        <input [(ngModel)]="sampleName" type="text">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="pointOfContact">
                            Point of Contact*
                        </label>
                    </td>
                    <td>
                        <button class="btn-canano btn-canano-primary btn-canano-xs mr-1" (click)="onAddPocClick()">
                            Add
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div>
            <table class="submit">
                <tr>
                    <td>
                        <button class="btn-canano btn-canano-danger btn-canano-lg mr-1">Reset</button>
                        <button (click)="onSaveSample()" class="btn-canano btn-canano-primary btn-canano-lg mr-1">Save</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

<canano-point-of-contact-create
    [poc]=pointOfContacts
    [sampleData]="organizationNames"
    [sampleName]="sampleName"
></canano-point-of-contact-create>
