.sample-edit-div{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding:2px ;
}

.editSection {
    margin:10px 5px 5px 5px;
    font-size:12px;
}
.editSection .editBorder {
    padding:0px;
    border:1px solid #ccc;
}
    .editSection td {
        padding-bottom:13px !important;    font-size:12px ;

    }

    .editSection .editButton{
        padding-top:5px;
        text-align:right;
    }
    .editSection table.files{
        width:100%;
    }

    .editSection table.files th{
        width:200px;
    }
    .editSection table.dataMain td{
        vertical-align:top;
        width:250px;
        padding:10px !important;
    }


    .editSection table.dataMain td.label{
        font-weight:bold;
        width:200px !important;
        vertical-align:top;
    }

    .editSection table.antibodyProperties td.label{
        font-weight:bold;
        width:100px !important;
        vertical-align:top;
    }

    .editSection table.antibodyProperties{
        font-weight:bold;
        width:600px !important;
        vertical-align:top;
    }

    .editSection table.files td.label{
        font-weight:bold;
        width:200px;
        vertical-align:top;
    }

    th {
        text-align:left;
        padding:10px;
    }

    .dataMain.submit {
        width:100%;
    }
    .dataMain.submit td {
        text-align:right;
    }

    .dataMain.gray {
        background-color:#F4F4F5;
    }

    .dataMain.gray td{
        border:none;
    }


    .inherentFunction th{
        background-color:#0073b9;
        color:#fff;
        border:1px solid #ccc;
    }

    .inherentFunction td{
        border:1px solid #ccc;
    }
    .error {
        color:red;
        margin:5px;
    }
