<!------------------------------------------------------------------------->
<!---------------------  "Navigation Tree" top left  ---------------------->
<!---------------  (General Info, Composition, Publication)  -------------->
<!---------------------  @TODO This will be dynamic  ---------------------->
<!------------------------------------------------------------------------->

<!-- @TODO This will be dynamic depending on which tool the router is currently showing -->
<div class="left-menu-div">
    <div class="left-menu-top-heading p-2">
        {{topHeading}}
    </div>

    <button class="btn-canano-sm left-menu-button-green" type="button"
    >General Info
    </button>

    <button class="btn-canano-sm left-menu-button-green" type="button"
    >Composition
    </button>

    <button class="btn-canano-sm left-menu-button-green" type="button"
    >Characterization
    </button>

    <button class="btn-canano-sm left-menu-button-green" type="button"
    >Publication
    </button>
</div>
