@import "../../../main-display/main-display.component.scss";

    .editSection td {
        padding-bottom:13px !important;    font-size:12px ;

    }
    .editSection .compositionTitle {
            padding:10px;
            background-color:#0073b9;
            color:#fff;
            text-transform: capitalize;
    }

    .editSection .compositionBody {
        background-color:#f5f5f5;
    }

    .editSection .header {
        background-color:#005518;
        color:#fff;
        padding:10px;
    }

        .editSection .header .btn {
            margin-left:10px;
        }

    .editSection .editButton{
        padding-top:5px;
        text-align:right;
    }
    .editSection table.dataMain.files{
        margin-bottom:10px;
    }
    .editSection table.dataMain td{
        vertical-align:top;
    }
    .editSection table.dataMain .properties{
        text-transform: capitalize;
    }
    .editSection table.dataMain .properties th{
        text-align:left;
        width:150px;
        vertical-align:top;
        padding-right:20px;
    }
    .editSection table.dataMain td.label{
        font-weight:bold;
        width:200px;
        vertical-align:top;
    }

    .editSection table.dataMain .properties td{
        text-align:left;
        width:150px;
        vertical-align:top;
        padding-right:20px;
    }

    .editSection table.dataMain .properties.files{
        border:1px solid #ccc;
        width:100%;
        margin-bottom:5px;
    }

    .experimentConfigurations td {
        padding-right:10px;
        width:300px;
    }
     ul {
       padding-left:13px;
    }


    .dataAndConditions td{
        padding:5px;
        border:1px solid #ccc;
        width:200px;
    }

    .dataAndConditions th{
        background-color:#0073b9;
        color:#fff;
        padding:5px;
        vertical-align:top;
        border:1px  solid #ccc;

    }

    .properties td{
        padding:5px;
        border:1px solid #ccc;
        width:200px;
    }

    .properties th{
        background-color:#0073b9;
        color:#fff;
        padding:5px;
        vertical-align:top;
        border:1px  solid #ccc;

    }

    .files {
        min-width:650px;
    }

    .files td{
        padding:5px;
        border:1px solid #ccc;
    }

    .files th{
        background-color:#0073b9;
        color:#fff;
        padding:5px;
        vertical-align:top;
        border:1px  solid #ccc;

    }

    label {
        font-weight:bold;
    }
